[2022-10-05 02:54] thegreekgoat98 commented on #360
I don't think so. Its not working for me

[2022-10-05 04:22] QasimWani commented on #360
@thegreekgoat98,
1. Do you have leetcode premium?
2. How old is your leetcode account?
I can only see the new UI on newer leetcode accounts.

[2022-10-05 05:00] arm210402 commented on #366
Is the code updated or not for the new UI ??

[2022-10-05 05:07] thegreekgoat98 commented on #360
I don't have leetcode premium.
My leetcode account is 3 years old.

I even cannot see any option to revert to old UI. Even if I revert in my profile page, old UI is not applied in the problem page.

[2022-10-05 05:09] QasimWani commented on #360
can u upload screenshots of ur leetcode profile on [this ](https://leetcode.com/problems/two-sum/) page? I just see the old UI and have no option of migrating to new UI.

[2022-10-05 05:11] QasimWani commented on #366
no code has been pushed to LeetHub. leetcode UI hasn't been changed on my account for some reason. I don't think leetcode UI is universally applied?

[2022-10-05 05:18] thegreekgoat98 commented on #360
![2 sum](https://user-images.githubusercontent.com/92818746/193986640-c506eb7d-ffb0-473a-b1f0-94821c0373fb.png)
![home](https://user-images.githubusercontent.com/92818746/193986644-de5f6934-2c9a-470e-9f28-a40138ec34e6.png)
![old home](https://user-images.githubusercontent.com/92818746/193986653-d98c91f8-eabb-4d14-8ab0-3d0cdf3add34.png)

[2022-10-05 05:19] thegreekgoat98 commented on #360
Above are the screenshots.  Even if I revert to the old UI, when I go back to solving problems, its still the new UI. And I don't want the new UI.

[2022-10-05 05:23] QasimWani commented on #360
i am genuinely confused. I don't see any option for newer UI.
<img width="1916" alt="image" src="https://user-images.githubusercontent.com/43754306/193987170-8ada72d2-7345-4c60-9d3f-9a6f7960a5ed.png">
can you join our [discord](https://discord.gg/GHPvmA7n) so we can reduce turnaround time for debugging this issue?

[2022-10-05 06:24] kshitij-srivastav commented on #366
I think the bug is still there for the new UI

[2022-10-05 19:15] MridulGupta75 opened #367 "not working with updated leetcode site"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-10-05 21:46] dashingquark commented on #366
I still have no code updating. old account(pre Oct 1st) , deleted and reinstalled repo

[2022-10-06 06:14] sharmaachintya08 commented on #361
I'll check it out.

[2022-10-06 06:16] Aakash1616 opened #368 "My solution aren't upload in repository."
![16650368991872310237610890190701](https://user-images.githubusercontent.com/55597165/194228169-5a1dc9dd-f363-4ab2-844e-8c2821a7e802.jpg)
![16650369340092484802807876989427](https://user-images.githubusercontent.com/55597165/194228259-ee53f402-abc5-42a6-a3d3-153e302ddd29.jpg)

[2022-10-06 23:10] mdube9 commented on #363
Did it work after reverting it? Did not work for me

[2022-10-07 12:49] Juliachuykova commented on #83
still the same issue as guys have. Can't sync my gitHub to Leetcode through LeetHub extention. Please help!

[2022-10-07 14:13] Raj0697 opened #371 "Leethub extension is not working with the updated/new Leetcode UI"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
Leethub extension doesn't work with the updated/new Leetcode UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Leetcode'
2. Click on 'new problem'
3. Scroll down to 'run and submit'
4. Observe the Green tick mark is not loading and code is not

[2022-10-09 09:38] #307 closed

[2022-10-09 09:52] QasimWani commented on #368
use the older leetcode UI. Click on your profile and click "revert to old version"
<img width="723" alt="image" src="https://user-images.githubusercontent.com/43754306/194750097-b2588ec1-7485-4f50-8f93-542fb5028417.png">

[2022-10-09 09:53] QasimWani commented on #371
use the older leetcode UI. Click on your profile and click "revert to old version"
<img width="723" alt="image" src="https://user-images.githubusercontent.com/43754306/194750097-b2588ec1-7485-4f50-8f93-542fb5028417.png">

I won't have time maintaining the repo on a daily basis. But happy to look into PR's for this issue.

[2022-10-09 09:53] QasimWani commented on #367
use the older leetcode UI. Click on your profile and click "revert to old version"
<img width="723" alt="image" src="https://user-images.githubusercontent.com/43754306/194750097-b2588ec1-7485-4f50-8f93-542fb5028417.png">

I won't have time maintaining the repo on a daily basis. But happy to look into PR's for this issue.

[2022-10-09 09:53] QasimWani commented on #366
use the older leetcode UI. Click on your profile and click "revert to old version"
<img width="723" alt="image" src="https://user-images.githubusercontent.com/43754306/194750097-b2588ec1-7485-4f50-8f93-542fb5028417.png">

I won't have time maintaining the repo on a daily basis. But happy to look into PR's for this issue.

[2022-10-09 09:53] QasimWani commented on #363
let's just use the older leetcode UI for now. Click on your profile and click "revert to old version"
<img width="723" alt="image" src="https://user-images.githubusercontent.com/43754306/194750097-b2588ec1-7485-4f50-8f93-542fb5028417.png">

I won't have time maintaining the repo on a daily basis. But happy to look into PR's for this issue.

[2022-10-09 09:56] Aakash1616 commented on #368
Yeah, i found it. Thank you

On Sun, 9 Oct, 2022, 3:24 pm AAKASH R, ***@***.***> wrote:

[2022-10-09 09:59] MridulGupta75 commented on #367
Revert to old version option is not there now

On Sun, 9 Oct, 2022, 3:23 pm Qasim Wani, ***@***.***> wrote:

[2022-10-09 10:14] ashwin-07 commented on #371
@QasimWani  I would like to take a look into this issue if its not being already looked into by some one else

[2022-10-09 10:21] QasimWani commented on #371
That’d be great, thanks!

On Sun, Oct 9, 2022 at 6:14 AM Ashwin ***@***.***> wrote:

[2022-10-09 10:37] Chaganti-Reddy commented on #363
Ok, I will do that.

On Sun, 9 Oct 2022 at 15:23, Qasim Wani ***@***.***> wrote:

[2022-10-09 12:48] ASahu16 opened #372 "Add spinner showing the state of merge on `GeeksForGeeks`"
while this works functionally, there's no message showing that it works. On leetcode.com, we have a spinner showing the state of merge. Works for now, but additional changes needed for better UX.

_Originally posted by @QasimWani in https://github.com/QasimWani/LeetHub/pull/310#pullrequestreview-1135325842_

[2022-10-09 12:55] arm210402 commented on #366
now using older version 👍

[2022-10-10 05:21] Munmud opened #373 "It doesnt seem to be working now after the LeetCode UI update."
It doesn't seem to be working now after the LeetCode UI update.

[2022-10-10 05:28] priyansh511 opened #374 "Sync all previous solutions at first signin to Leethub"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternativ

[2022-10-10 09:26] Rishusing opened #375 "Not supporting with new feature of leetcode"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-10-10 14:25] joginderNrajput commented on #373
Yes same problem

[2022-10-10 15:23] EktaBhaskar opened #376 "LeetHub not working for chrome / brave"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

 I set up LeetHub 2 days back, authorized my github and started leetcoding.
Tried multiple times as mentioned in the video but it's not picking up my changes

Attaching the video for better [understanding]

[https://uflorida-my.sharepoint.com/:v:/g/personal/bhaskar_ekta_ufl_edu/E

[2022-10-10 15:25] EktaBhaskar commented on #376
Please  use this link for video -

https://uflorida-my.sharepoint.com/personal/bhaskar_ekta_ufl_edu/_layouts/15/stream.aspx?id=%2Fpersonal%2Fbhaskar%5Fekta%5Fufl%5Fedu%2FDocuments%2FScreen%20Recording%202022%2D10%2D10%20at%2011%2E11%2E29%20AM%201%2Emov&ga=1

[https://uflorida-my.sharepoint.com/personal/bhaskar_ekta_ufl_edu/_layouts/15/stream.aspx?id=%2Fpersonal%2Fbhaskar%5Fekta%5Fufl%5Fedu%2FDocum

[2022-10-11 01:06] akarelia20 commented on #83
I am facing the same issue, It is not syncing.

[2022-10-11 01:42] NirmalSilwal opened #377 "Leethub not working when submitting same question with new approach solution in Leetcode"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
When I solved previously solve problem in leetcode with new approach, it is not pushing the code to github repository.

**Expected behavior**
Newly written code must be pushed in github after getting accepted in leetcode.

**Screenshots**
this solution is acc

[2022-10-11 02:27] akashgupta03 commented on #376
same its not working for me also

[2022-10-11 08:19] Aakash1616 commented on #368
But that revert option is not available in my account

On Sun, 9 Oct, 2022, 3:22 pm Qasim Wani, ***@***.***> wrote:

[2022-10-11 08:58] Chaganti-Reddy commented on #363
Yes, it is working.

On Fri, 7 Oct 2022 at 04:40, Madhav Dube ***@***.***> wrote:

[2022-10-11 09:22] Dheeraj-Bhandari commented on #373
yes

[2022-10-11 14:33] QasimWani commented on #373
can u try to revert it back to the older UI?

[2022-10-11 14:33] QasimWani commented on #376
i don't have access to those links. my email is qasim31wani@gmail.com

[2022-10-11 14:33] QasimWani commented on #375
can u try reloading it with old leetcode UI?

[2022-10-11 14:34] QasimWani commented on #374
duplicate #77

[2022-10-11 14:34] #374 closed

[2022-10-11 14:35] Rishusing commented on #375
It working with old UI

On Tue, 11 Oct, 2022, 8:04 pm Qasim Wani, ***@***.***> wrote:

[2022-10-11 14:36] #375 closed

[2022-10-11 15:49] babson89 commented on #54
Leethub nit syncing the Leetcode codes on Github. Can you help me with that ?

[2022-10-11 18:02] thegreekgoat98 commented on #366
Thanks this worked.

[2022-10-11 18:39] QasimWani commented on #377
hmm. this seems strange. I haven't been able to reproduce this error. Can you provide console log outputs when u hit submit on the same problem? Make sure you use LeetHub v.1.1.12.

[2022-10-11 19:42] DiegoKrupitza opened #379 "Duplicates because of leading zeros introduced in #348"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
In https://github.com/QasimWani/LeetHub/pull/348#issuecomment-1263449338 I highlighted that the changes proposed in #348 will break the folder structure and will lead to inconsistencies for people who use this extension for a long time already and regularly r

[2022-10-12 13:24] kchung1995 commented on #373
i tried with the older UI and then it works for me

[2022-10-12 14:29] perween commented on #373
For me also , it doesn't seem to be working. I submitted program. It only uploaded README file not cpp file.

[2022-10-12 17:46] dragneel786 commented on #366
Don't wanna sound pushy, but can you please figure out how to solve this issue, as a temporary fix reverting to older version is fine, but I really love the leetcode new UI and I really really love this extension. So please help here!!

[2022-10-13 01:09] Akovalyonok commented on #377
I am solving new problems and LeetHub is unable to show anything in GitHub :(

[2022-10-13 05:23] ankit729 commented on #379
Keeping leading zeros in the name doesn't seem to be a good idea
It doesn't solve any problem either. The name is already unique, the results by GitHub are already sorted, you can search any question easily

[2022-10-13 09:27] gtmkr1234 opened #380 "Questions are not being updated to repository after new UI in leetcode coding interface."
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen

[2022-10-13 13:49] QasimWani commented on #380
#366

[2022-10-13 13:49] QasimWani commented on #379
good point, @ankit729. I'll make a hotfix later today.

[2022-10-13 16:06] Anandkumarsatapathy opened #381 "Adding new Features at leethub like"
when user Submitted the answer the folder make own repo topic wise.
which help to revise the solution

[2022-10-13 19:54] rvs99 opened #382 "Easy, Medium & Hard tracker is not sync when you change the laptop even in you use the exact same GitHub account and saame repository"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
LeetHub extension should have ability to sync the count of Easy, Medium & Hard tracker based on the repository that we authorize.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup LeetHub extension on chrome on a laptop with a github account and a r

[2022-10-13 19:56] rvs99 commented on #382
Or maybe this can be converted in a Feature.

[2022-10-14 00:40] andreidimaano commented on #366
Hey Everyone, I inspected the LeetCode success page on the new UI. In the source code for this repo we have this:

[code]

The new UI doesn't have this success class name but I found that the tag leading-6 seems to be unique

<img width="1033" alt="Screen Shot 2022-10-13 at 5 38 57 PM" src="https://user-images.githubusercontent.com/56818175/195736454-031965a5-3eec-4ac4-a581-2d412c0f4636.png">

[2022-10-14 00:42] andreidimaano opened #383 "Possible Solution to #366 - New LeetCode UI"
Hey Everyone, I inspected the LeetCode success page on the new UI. In the source code for this repo we have this:

[code]

The new UI doesn't have this success class name but I found that the tag `leading-6 ` seems to be unique and associated with Acceptance. i don't have time to code it but maybe someone can use this and test it out with the new UI? @QasimWani

<img width="1033" alt="Screen Shot

[2022-10-14 04:08] OmdevDalsaniya opened #384 "If Last Submitted Solution is not Best TimeComplexity/Space Complexity do not submit"
It is annoying when we try a different solution combination but it always pushes the last accepted code to GitHub.
It should have checked with them the time complexity of the previous code to the current code.

An alternative could be asked every time before pushing

[2022-10-14 20:28] QasimWani commented on #384
Best solution isn't necessarily the fastest solution. See - https://en.m.wikipedia.org/wiki/Kolmogorov_complexity

[2022-10-14 20:30] QasimWani commented on #382
This is because we're using local storage and chrome sync storage. This was a design change made earlier last year because sync storage has very limited memory. https://en.m.wikipedia.org/wiki/Kolmogorov_complexity

[2022-10-14 22:40] #384 closed

[2022-10-14 22:40] #382 closed

[2022-10-14 22:41] QasimWani commented on #381
wtf does this even mean???

[2022-10-14 22:41] #381 closed

[2022-10-14 22:42] QasimWani commented on #356
@Puneetpotter summed it up perfectly! +1

[2022-10-14 22:42] #356 closed

[2022-10-14 22:44] QasimWani commented on #352
leethub is an open-source extension. this is a very specific feature request. if you're interested, fork it and develop the feature! our community is large enough (30k+ users) where ≥ 1000 would be interested in what you'll be building. [join the community](https://discord.gg/3t7H8w3g)

[2022-10-15 09:30] AbdulChatha opened #385 "Solved problems not showing in repo"
I have followed all steps but , when I submit problems it not showing in repo. kindly help

[2022-10-16 12:39] Prithivi-Raj opened #386 "Solved Questions not showing up in Repo Recently. Is there a maximum limit of questions supported by Leethub?"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-10-18 03:48] joginderNrajput opened #387 "This extension is not working after the leetcode has been updated. I would request to update the extension as well"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-10-18 13:38] AbdulMannan24 opened #388 "Codeforces and codechef"
i need this extension for codeforces and codechef, can you please provide this feature ?

[2022-10-19 05:54] nabanitadewan commented on #54
@QasimWani Leethub is not syncing leetcode on Github. I have removed adBlocker as well for leetcode.

[2022-10-19 07:16] ZenithClown commented on #111
I can see PR #369 but how to get this done?

[2022-10-19 18:13] AbhiBajpaishek commented on #379
I still got a leading zero in of the submits on leetcode today. As I had already submitted that code few weeks back, I submitted it again and a new folder got created in repo.

**New folder name:**
[0283-move-zeroes](https://github.com/AbhiBajpaishek/LeetCodeDSA/tree/main/0283-move-zeroes)
**Old folder name:**
[283-move-zeroes](https://github.com/AbhiBajpaishek/LeetCodeDSA/tree/main/283-move-zeroe

[2022-10-20 03:12] RajputAnkit11 opened #389 "Need different folders for different Problem tag"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternativ

[2022-10-20 04:21] shwe-03 opened #390 "add all solutions related to a problem or choose the one with best runtime and memory."
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternativ

[2022-10-20 07:13] R-ocke-R opened #391 "Not working after the latest leetcode UI update."
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
The extension has stopped committing code to git repo for Leetcode, (still works for geeks for geeks) after the new UI version update.
Since leetcode has provided an option to revert back to the old version, doing that the extension continues to work.

**To R

[2022-10-22 20:49] scopophobic opened #393 "A FEATURE TO UPLOAD SOLUTION IN A SUB FOLDER IN REPO."
# FEATURE TO UPLOAD SOLUTION IN A SUB FOLDER IN REPO.
**Is your feature request related to a problem? Please describe.**
I can't add my solution into a folder to make the repo look clean!

**Describe the solution you'd like**
a feature where you could add a directory location to the desired subfolder.

ASAP!!!  please!!

[2022-10-23 06:45] RRK-CODER opened #394 "It's not working after leetcode new features added , am I the only one or everyone else is facing the same?"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-10-23 06:46] RRK-CODER commented on #394
![image](https://user-images.githubusercontent.com/96657172/197378176-079fd6f6-2f94-4366-b1e6-8c001060c998.png)
after this interface the leethub is not working previously it was working with my github but now it has stopped working from last 24 days

[2022-10-23 18:00] navneetdesai commented on #394
I am facing the same issue

[2022-10-24 17:47] QasimWani commented on #394
Try using the older leetcode UI.

[2022-10-25 09:21] Sanjusha-Yerra opened #395 "LeetHub extension not working"
The extension is working for geeks for geeks nut not working for leetcode

[2022-10-25 12:51] apoorvthedude commented on #83
Hi,I'm also facing same issue.Today solved some problems & after that checked Github.
Leethub have not synced the submissions into my repo.

# Not Syncing.

[2022-10-25 13:28] QasimWani commented on #395
can u try this #366

[2022-10-25 13:28] QasimWani commented on #394
lmk if this doesn't work #366

[2022-10-25 13:29] QasimWani commented on #391
try this #366

[2022-10-25 13:30] QasimWani commented on #387
have u tried this #366

[2022-10-25 13:30] QasimWani commented on #386
perhaps it was because u were using the latest version of Leetcode. try switching to an older version. See this #366

[2022-10-25 13:31] QasimWani commented on #385
duplicate #366

[2022-10-25 13:31] #385 closed

[2022-10-25 13:34] QasimWani commented on #383
i have stopped maintaining this repo for the most part. but happy to look at relevant PRs!

[2022-10-25 14:50] QasimWani commented on #395
Are you not able to load previous Leetcode UI? Please share screenshots so I can reproduce the error

[2022-10-26 06:58] tkmnbr opened #396 "My LeetCode solutions does not reflect"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
I just started using LeetHub. I followed through the introduction, but it does not reflect my solutions to my repository.

**To Reproduce**
Steps to reproduce the behavior:
1. installed LeetHub to my Chrome.
2. signed in github and leetcode with same email.
3

[2022-10-26 16:08] QasimWani commented on #396
Have u tried #366

[2022-10-26 18:54] tkmnbr commented on #396
It worked! Thank you!

[2022-10-26 19:33] heykush commented on #366
Hi @QasimWani @andreidimaano, I have tried a possible solution of yours to change the tag, but it didn't work out because leetcode has updated my tag in New UI. This need to review the whole file of the leetcode.js. Let me know if anyone will do it; I love to help with that.

ps: working fine with Old UI

[2022-10-27 00:28] RRK-CODER commented on #394
yeah with older version it's working, Thank you for your response

[2022-10-27 00:28] #394 closed

[2022-10-27 04:47] aguynamedloren commented on #366
Happy to help debug and investigate a fix here if I get the new UI, but for now, it looks like I'm still on the old UI.

For context, can someone with the new UI post a screenshot?

[2022-10-27 14:42] R-ocke-R commented on #391
Thanks.
Am aware about reverting to the old version. would really appreciate a fix though.

[2022-10-27 14:42] #391 closed

[2022-10-28 10:47] elefintium opened #397 "LeetHub No Longer Creating ReadMe with each problem"
**Describe the bug**
ReadMe file no longer created with each push

[2022-10-28 19:25] akashdhingra commented on #395
@QasimWani Old UI is also not working for geeks for geeks. Please look into this.

[2022-10-28 19:28] QasimWani commented on #395
seems to work? https://github.com/devKhush/DSAProblems/tree/a34b472ba5c1726f51024019e14d7c94391f5dba/LCM%20And%20GCD%20-%20GFG

[2022-10-28 19:48] akashdhingra commented on #395
It's not working for me. Not sure why! Just did one submission but it is not reflecting on GitHub.

Should I remove and add the extension again?

[2022-10-28 20:30] akashdhingra commented on #395
In the inspect, It is showing even before starting any code or submission. Is anything needs to be done?

<img width="553" alt="Screenshot 2022-10-28 at 4 28 18 PM" src="https://user-images.githubusercontent.com/38224187/198726669-6d180938-2173-4003-a26a-7881dab5c141.png">

[2022-10-28 20:38] QasimWani commented on #395
that console log loads data into local storage from sync storage (this is part of our legacy code).

what's ur leethub version? make sure it's set 1.1.12. There were issues in the previous release. I can check later this weekend if the latest release is not compatible anymore.

[2022-10-28 20:44] akashdhingra commented on #395
@QasimWani Yes please and the version is "1.1.2".

I removed and downloaded it again and I am getting the same version. Not able to switch to version "1.1.12".

[2022-10-28 20:50] QasimWani commented on #395
my bad, the latest version is 1.1.2. will look into it later this weekend. thanks for bringing it to my attention, @akashdhingra

[2022-10-28 22:15] akashdhingra commented on #395
@QasimWani Thank you for the help 😊

[2022-10-29 21:46] cng008 opened #398 "Reduce number of commits"
The amount of commits is skewing a user's recent contributions average chart
- Make it optional to commit 'Attach NOTES' (not sure where to even edit this)
- Make it optional to commit 'Create README' and submitted code separately/together

[2022-11-04 01:24] julian31186 opened #399 "LeetHub no longer pushing submissions with new Leetcode update"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
After the new UI changes to LeetCode, after submitting a problem it is no longer getting pushed to GitHub

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you are on the latest version of Leetcode
2. submit problem

**Expected behavior**
Push p

[2022-11-04 02:06] saipavanbhanu commented on #399
i'm also facing the same issue

[2022-11-04 02:14] saipavanbhanu commented on #399
Reverting to old version seems to be work around temporarily.
But the new UI is more productive.
https://github.com/QasimWani/LeetHub/issues/366

[2022-11-04 03:53] linhmitless commented on #399
seconding this. Also had to revert back to old UI.

I'm okay with using the old UI, but seems like the new version will be rolling out and they will stop supporting the old UI.

[2022-11-04 06:12] akash-suklabaidya opened #400 "Solutions not getting pushed"
The new leetcode update dosen't allow the solutions to get pushed in guthub. I worked fine since yesterday but today after the update, it dosen't push anymore.

[2022-11-04 12:52] ravikr126 opened #401 "new ui of leetcode"
in the new UI of leetcode problem, this extension will not work .please update the extension for new leetcode UI

[2022-11-04 13:55] sbkv1 commented on #399
Yes, the new UI is more productive it needs less clicks.

[2022-11-04 17:30] aidos-dev commented on #83
Facing the same issue after leetcode pushed new update

[2022-11-05 01:29] its-Aman commented on #401
For now, I've switched back to the old UI.
Can you please make the changes sooner before LC decides to disappear the revert to Old UI button?

PS: If you're wondering where is the revert button, look at the attached SS.
Click on the profile icon and you'll see the revert option:
![image](https://user-images.githubusercontent.com/19326614/200095084-870744a4-078e-483f-bc83-ff3a16a485a2.png)

[2022-11-05 08:23] haileyKimDev commented on #400
I have the same issue.

[2022-11-05 09:47] sungmin69355 commented on #401
This button is missing....
Is there any other way?

[2022-11-05 12:43] ravikr126 commented on #401
@sungmin69355 in profile section see the bottom right side you will get this sign

[2022-11-05 12:44] ravikr126 commented on #401
@its-Aman but while move back to old version this extension still not work .

[2022-11-05 15:26] tharun-d4 opened #402 "LeetHub isn't working for the updated LeetCode."
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternativ

[2022-11-05 16:25] IshaanAnsari opened #403 "Re: Code is not pushing"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-11-05 16:37] IshaanAnsari commented on #366
@aguynamedloren
![LC](https://user-images.githubusercontent.com/84808103/200131137-7fead0f4-f6bc-438f-88ae-d4524831f3e5.jpg)

[2022-11-05 21:59] EmanAbobakr commented on #83
I'm facing the same issue

[2022-11-06 01:19] its-Aman commented on #401
@ravikr126 Working for me.
Just completed today's streak!

![image](https://user-images.githubusercontent.com/19326614/200149562-b0671990-75a3-4bcc-aefb-f4135037b22b.png)

[2022-11-06 02:46] AbdulMannan24 commented on #402
yes Same issue

[2022-11-06 07:01] Lastropy commented on #402
Same issue.

[2022-11-06 07:26] lakshita15 commented on #403
My gfg solution is also not syncing to github

[2022-11-06 09:09] gutenLEE commented on #402
same issue

[2022-11-06 16:24] aavin95 opened #404 "Leetcode Update Compatibility"
I'm not sure if other people are having this problem but I just noticed that since the new LeetCode update came out my LeetHub files aren't updating when I have a new solution or when I solve a new problem. Thank you for this amazing service you provide!

[2022-11-06 18:30] dhairyashiil commented on #402
Same here Admin!

[2022-11-06 19:29] KHemanthRaju commented on #404
Yes, Even I am facing the same issue. Could you pls resolve asap.

[2022-11-06 20:07] ishan-aggarwal commented on #371
Event after reverting to the older version, the solutions are not getting synced to github profile. Instead of green tick mark - it is now showing a red tick mark.
It would be great if someone can look into this issue.
Thanks,
Ishan Aggarwal

[2022-11-06 23:58] derick-pan commented on #403
Same here. my code is not pushing to github as it previously did. README's are pushing just fine, but no .py files

[2022-11-07 04:39] being-nitin commented on #54
leetcode has updated its interface and after updation the extension is not working.

[2022-11-07 05:25] debopamabasu commented on #404
Same here...

[2022-11-07 06:25] kaustav202 commented on #402
++

[2022-11-07 06:27] mehulgithub-1903 opened #405 "Not working on latest update of leetcode"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'new website version of leetcode'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description o

[2022-11-07 07:18] h-attari commented on #404
Yes, I am also facing the same issue.

[2022-11-07 10:37] jibran-hussain-mir commented on #83
LeetHub extension is not working with the updated Leetcode

[2022-11-07 16:19] akashdhingra commented on #395
@QasimWani Hey!! is it fixed?

[2022-11-07 21:55] zB0y opened #406 "Not working on new LeetCode update"
The extension doesn't seem to work on the new LeetCode update. I can't see my answers on GitHub nor can I see the animation of a submission.

Steps to reproduce the behavior:
1. Open any question and submit an acceptable answer
2. There will be no animation and no update on personal "LeetCoding" GitHub repo...

**Expected behavior**
A clear and concise description of what you expected to happen.
T

[2022-11-08 02:52] julian31186 commented on #399
how do you revert to the old UI?

[2022-11-08 05:58] pradeeptrain9 opened #407 "Leetcode is updated recently my code not not getting commited to the repository"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-11-08 05:59] #407 closed, assigned to QasimWani

[2022-11-08 08:47] akshaysuri commented on #402
Same issue. as of 8nov2022

[2022-11-08 08:50] parthsishodia opened #408 "new code isn't updating."
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-11-08 17:42] abhishekteli opened #409 "LeetHub not working for me or may be with new update of Leetcode website"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-11-08 20:39] chang-you commented on #409
+1

[2022-11-08 20:41] #409 closed, assigned to QasimWani

[2022-11-08 20:42] abhishekteli commented on #409
Issue already posted by others

[2022-11-09 16:35] akshay117 commented on #54
Leethub is no longer syncing to GitHub after leetcode updated their interface

[2022-11-10 14:39] Sarang661 opened #410 "LeetHub not working for new LeetCode UI"
LeetHub is not pushing code to github if we submit our code on  new leetcode UI, please fix this.

[2022-11-11 12:41] AnupamPrakash commented on #83
### Not Syncing
Guys, any solution yet? Leethub is **not syncing** for me too.

[2022-11-11 17:46] Aman-Jot-Kaur commented on #83
oh no :( the extension stopped working after the update

[2022-11-12 12:01] r4deadv commented on #404
I'm facing the same issue. Will it be an update out soon?

[2022-11-12 19:31] tIcers commented on #54
I have a same problem. I am using brave browser, and my code/solution can not be pushed to my GitHub.

[2022-11-13 14:50] louiske0911 commented on #410
me too...

[2022-11-14 01:39] MuhammadAakash commented on #410
Same here.

[2022-11-14 08:07] harshalyeole commented on #54
Not working for me either, any alternative?

[2022-11-14 12:27] souvikrajsingh commented on #410
tried switching to the old version and then submitting the problems, yet it doesn't work  @QasimWani :(

[2022-11-14 14:54] akshay117 commented on #54
Yes, Change the leetcode to use old version.

[2022-11-14 20:54] sduzair commented on #410
works for me when I switch to the old UI

[2022-11-14 22:51] mfarhadhossain commented on #410
works for me too.

[2022-11-14 23:13] JetechNY commented on #54
Leethub not working. no new uploads

[2022-11-15 12:03] souvikrajsingh commented on #410
thanks guys working for me now!

[2022-11-15 12:21] alisha0903 opened #412 "LeetHub is not submitting the submissions from leetcode to github."
I have tried all the methods to use LeetHub according to the demo video. Also I've tried uninstalling the extension and again installing that, still it is not working. Please look into it.

[2022-11-16 00:54] Chase-Forestello commented on #412
Currently having the same issue chrome and firefox

[2022-11-16 01:14] aish232 opened #413 "Leetcode not syncing solved problems"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
Leetcode not syncing solved problems , have tried to submit multiple times but its just not working.

Could you please fix this?

[2022-11-16 15:59] benlowenthal commented on #412
Unfortunately the new LeetCode UI update changed all the HTML class names and tags so the extension won't be able to find the information it needs. Also they removed a lot of the unique classes (now they have combinations of more generic ones). I'll see if I can poke around and will create a pull request within the next few days.

[2022-11-18 14:24] ISTYCSE16 commented on #83
Same thing. 10 solves and none of them even uploaded.

[2022-11-18 18:23] harshberry opened #414 "Not pushing code from GFG despite refreshing several times"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-11-18 22:49] ianmolnarang opened #415 "NOT WORKING!"
After submitting leethub is not pushing to github.
Tried multiple times but still no results.
Please fix.

[2022-11-19 15:48] Suchiq opened #416 "LeetHub not working with new LeetCode"
## LeetHub not working with the new LeetCode now so whenever I am submitting any problem successfully in Leetcode it's not getting uploaded in my authorized repository with this plugin

[2022-11-20 07:48] CodeByCindy commented on #83
same issue

[2022-11-20 12:10] techlism opened #417 "If Possible add a Option to add the code also."
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternativ

[2022-11-20 12:50] warriorwizard commented on #5
well said @Kaustubh-Natuskar I do prefer GFG (geeksforgeeks) over leetcode for various reasons
@QasimWani we request u to please add feature for GFG also

[2022-11-20 12:51] warriorwizard commented on #5
well said @Kaustubh-Natuskar I do prefer GFG (geeksforgeeks) over leetcode for various reasons
@QasimWani we request u to please add feature for GFG also

[2022-11-20 12:54] Kaustubh-Natuskar commented on #5
It now supports GFG 😀

[2022-11-20 13:11] hitesh11tahiliani opened #418 "this version of the extension don't work for the new leetcode website"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternativ

[2022-11-20 18:45] nehruperumalla opened #419 "Multiple Repos for different Study Plans or problem types"
## Please review previously closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Is your feature request related to a problem? Please describe.**
I am learning multiple things on LeetCode for Ex: I am learning both CP and SQL when I submit all these problems are being pushed into the same repository. This will be hard for me to differentiate SQL and CP in

[2022-11-21 02:31] its-Aman commented on #366
Hey @QasimWani , can you please let us know by when we can expect the fix for the new UI? I surely do not want to let go of this awesome feature off my list. I'm holding on to the old UI just because Leethub not supporting it. Lots of <3 and support.
Thanks.

[2022-11-21 07:51] shubhamgupta2901 opened #420 "Add Page for Leetcode solutions"
For each LC question, add a page for solution and approaches article associated to the questions. (if its provided)

[2022-11-22 02:45] ghost commented on #416
+1

[2022-11-22 22:35] nouraellm commented on #416
+1

[2022-11-23 05:06] hussaino03 commented on #416
+1

[2022-11-23 20:38] mangher commented on #416
+1

[2022-11-24 09:05] IbrahimEzzatSaad commented on #416
same problem here

[2022-11-25 08:47] BhandarkarPawan commented on #416
+1

[2022-11-25 14:52] VaibhavGaur56789 commented on #83
Same Issue, after the leetcode update leethub failed for leetcode.

[2022-11-25 18:00] jibran-hussain-mir commented on #83
There is an option to revert back to the older version of leetcode.This extension works perfectly on the older version.

[2022-11-26 02:49] shanchu815 commented on #416
+1

[2022-11-26 03:54] #417 closed, assigned to nobody

[2022-11-26 05:39] mdamapong commented on #416
Same

[2022-11-26 10:06] mehulgithub-1903 opened #421 "Not pushing code from new leetcode ui ,please check asap showing repo but code not pushing"
## Please review previous closed issues before filling out a new one! Duplicate issues will be closed without comment.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-11-26 11:43] rhythm10 commented on #54
Leethub still not working even after resetting Leetcode to an older Version.
Why it shows in the description regarding GFG code also able to push to Git, that is not even updated in Extension UI or anywhere

[2022-11-26 14:12] Seungwoo321 commented on #366
I hope it works in the new UI too.
What do you think about using the following path element?

## selector

[code]

## example
<img width="574" alt="image" src="https://user-images.githubusercontent.com/13829929/204093069-876fa10c-29ea-4937-8f32-117f93933dfb.png">

[2022-11-27 07:41] VaibhavGaur56789 commented on #83
Hi Can you share some screenshots from where it will be done for me it's just changing the UI where the rating of the user is seen and nothing else, the code update in GitHub still not working

[2022-11-27 08:04] changzhenlin commented on #418
the same question#418

[2022-11-27 09:13] rhythm10 commented on #421
till when the Issue will be resolved, it's been more then a week.

[2022-11-27 12:38] mohitpathak382 commented on #421
+1
Same issue with me also

[2022-11-27 17:26] ISTYCSE16 commented on #83
If anyone's having problem switching to old UI
[Revert Back to Old UI](https://leetcode.com/discuss/general-discussion/181563/Switch-back-to-old-UI#:~:text=Go%20to%20any%20question%20description,from%20the%20drop%2Ddown%20menu.)

[2022-11-28 04:17] ronihere opened #422 "Not pushing Leetcode submissions, Maybe it occured after the leetcode update. Only the GFG solutions are getting pushed"

[2022-11-28 14:47] haileyKimDev commented on #416
+1

[2022-11-28 14:51] dada878 commented on #366
Hello, I'm trying to fix the extension for the new LeetCode UI, all will be done but I didn't think of any way to get the problem description, because the element always destroys when I switch to the submissions tab. Does anyone have an idea? thanks.

[2022-11-29 02:05] be-jeong commented on #416
+1